.container {
  margin: 100px 0 100px 30%;
}

.container:first-child {
  display: flex;
  flex-direction: column;
}

.title {
  color: orchid;
  margin: 0 0 20px 0;
}

li.item {
  color: #660066;
  padding: 10px 0;
}

.invisible {
  display: none;
}

.huge-1 {
  font-size: 10rem;
  font-weight: 700;
  color: orange;
}

.huge-2 {
  font-size: 5rem;
  font-weight: 700;
  color: orangered;
  font-family: "Volkhov";
}

input {
  font-style: oblique;
  color: #d3d3d3;
}

.opening,.closing {
  justify-content:flex-start;
}

.opening {
  margin: 20px 0;
}

.closing {
  font-family: "Volkhov";
  font-style: oblique;
}

h2 {
  text-align: left;
}

.bloc {
  margin: 25px 0 30px 0;
}
