.container {
  margin: 100px 0 100px 30%;
}

.title {
  color: orchid;
  margin: 0 0 20px 0;
}

li.item {
  color: #660066;
  padding: 10px 0;
}

.invisible {
  display: none;
}

.huge {
  font-size: 10rem;
  font-weight: 700;
  color: orange;
}
